@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #ee4e34;
  --background-color: #fcedda;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #10e956;
    --background-color: #2e2e2e;
  }
}

body {
  color: var(--text-color);
  background: var(--background-color)
}
